.serviceCard {
  width: 200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.serviceCard h2 {
  margin-bottom: 0px;
}

.priceTag {
  padding: 5px;
  background-color: var(--main-blue);
  border-radius: var(--standard-radius);
  color: white;
}

.options {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.imgBorder {
  border-radius: 50%;
  border: 12px navy solid;
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}
