@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@200;400;700&display=swap");

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* ------------------------VARIABLES------------------------ */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
:root {
  --main-blue: navy;
  --light-blue: lightblue;
  --white-transparency: rgba(255, 255, 255, 0.666);
  --white-low-transparency: rgba(255, 255, 255, 0.9);
  --standard-radius: 5px;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* --------------------------RESET-------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
button {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: inherit;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input,
textarea {
  outline: none;
  border: none;
}

/* --------------------------------------------------------- */
/* --------------------------------------------------------- */
/* -------------------------GLOBALS------------------------- */
/* --------------------------------------------------------- */
/* --------------------------------------------------------- */

.container {
  margin: 0 auto;
  max-width: 80%;
  font-family: "Sarabun", sans-serif;
}

.strong {
  font-size: 16px;
  font-weight: 700;
}

.greenTxt {
  color: green;
}

.redTxt {
  color: red;
}

.small {
  font-size: 14px;
}

.text-left {
  text-align: left;
}

body {
  background-color: white;
  color: var(--main-blue);
}

h1 {
  font-size: 35px;
  font-weight: 700;
}

h2 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 20px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}

h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

a:hover {
  text-decoration: none;
}

p {
  font-size: 18px;
  margin-top: 15px;
}

ul {
  font-size: 18px;
  list-style: disc inside;
}

button {
  background: none;
  cursor: pointer;
}

.fp-watermark {
  display: none;
}

@media (max-width: 1024px) {
  h1 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  p {
    font-size: 16px;
    margin-top: 10px;
  }
}

@media (max-width: 769px) {
  .container {
    max-width: 95%;
  }
}
