.footer {
  position: absolute;
  z-index: 1;
  bottom: 0px;
  top: 100%;
  width: 100%;
  background-color: var(--light-blue);
  transition: 500ms ease-in-out;
  z-index: 1;
  scroll-behavior: smooth;
}

.footer h3 {
  margin-top: 60px;
  margin-bottom: 15px;
}

.footer h4 {
  margin-top: 30px;
}

.footer p {
  text-align: justify;
}

.footer table {
  width: 100%;
  vertical-align: middle;
  border-spacing: 15px;
}

.footer table,
.footer tr,
.footer td {
  border: 2px var(--main-blue) solid;
}

.footer table tr td:first-of-type {
  width: 125px;
}

.footer table tr td {
  vertical-align: middle;
  padding: 5px;
}

.footer table img {
  width: 100%;
  height: 100%;
}

.footer > button {
  position: absolute;
  bottom: 100%;
  right: 10px;
  z-index: 2;
  display: flex;
  gap: 10px;
  background-color: var(--main-blue);
  color: white;
  padding: 5px;
  transition: 500ms ease-in-out;
}

.footer > button > svg {
  height: 18px;
}

.topBtn {
  border-bottom-left-radius: var(--standard-radius);
  border-bottom-right-radius: var(--standard-radius);
}

.bottomBtn {
  border-top-left-radius: var(--standard-radius);
  border-top-right-radius: var(--standard-radius);
}

.footer > div {
  margin-top: 100px;
  display: flex;
}

.footer > div > div:last-of-type {
  padding: 30px;
  background-color: white;
}

.navContainer {
  flex: 1;
}

.navContainer nav {
  position: fixed;
}

.footer > div > div:last-of-type {
  flex: 3;
  padding: 15px;
}

@media (max-width: 768px) {
  .navContainer {
    display: none;
  }
}
