.servicesContainer {
  background-color: var(--white-transparency);
  padding: 30px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  column-gap: 100px;
  row-gap: 50px;
}
