.main {
  display: flex;
  flex-direction: column;
}

.main > section {
  width: 100%;
}

.main > section {
  background-size: cover;
}

.main > section {
  min-height: 100vh;
  box-sizing: content-box;
}
